@using Web_Test_II_DAL.Entityes;
@using Web_Test_II.Models.ViewModels.DataOperationsViewModels;
@model GroupsViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Web_Test_II

@{
    int num = 0;
    ViewBag.Title = "Просмотр и добавление групп";
     
    
}

<div class="text-center">

        <h2 class="display-4">Группы</h2>  

        <table class="table">
            <tr>
                <form asp-controller="DataOperations" asp-action="AddGroup" method="post">
                 <th>
                   <input type="text" class="form-control" asp-for="Group.Name"/>
                    <span asp-validation-for="Group.Name"/> 
                </th>
                <th>
                  <input type="submit" class="btn btn-success" value="Добавить группу"/>
                </th>
                </form>
            </tr>
           <</table>

              
        <table class="table">
            <tr>
                 <th>
                    <a>Номер</a>
                </th>
                <th>
                    <a>Группа</a>
                </th>
                <th>
                    <a>Редактирование</a>
                </th>
                <th>
                    <a>Удаление</a>
                </th>
            </tr>
            
            @foreach(var group in Model.Groups)
            {
                num++;
                <tr>
                    <td>
                        @num
                    </td>  
                    <form asp-controller="DataOperations" asp-action="EditGroup" method="post"  asp-route-id="@group.Id">
                    <td>
                       <input type="text" class="form-control" name="parameterName" value="@group.Name"/>
                    </td>  
                    <td>
                        <input type="submit" value="Редактировать" class="form-control" />
                    </td>
                    </form>
                    <td>
                        <form asp-controller="DataOperations" asp-action="DeleteGroup" method="post"  asp-route-id="@group.Id">
                            <input type="submit" value="Удалить" class="form-control" />
                            </form>
                    </td>
                </tr>           
        }
        </table>
        

    
</div>