@using Web_Test_II.Models.ViewModels.UserViewModels
@model RegisterMentorViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewBag.Title = "Регистрация";


}
<div class="divlogin">
     <h2 class="display-4">Регистрация преподавателя</h2>     
@using(Html.BeginForm())
{
    <form asp-action="RegisterMentor" asp-controller="Account" method="post" asp-anti-forgery="true">
        <p>
           <label asp-for="Email"></label><br/>
           <input type="text" class="form-control" asp-for="Email"/>
           <span asp-validation-for="Email"/>
        </p>
        <p>
           <label asp-for="Password"></label><br/>
           <input type="password" class="form-control" asp-for="Password"/>
           <span asp-validation-for="Password"/>
        </p>
        <p>
           <label asp-for="ConfirmPassword"></label><br/>
           <input type="password" class="form-control" asp-for="ConfirmPassword"/>
           <span asp-validation-for="ConfirmPassword"/>
        </p>
        <p>
           <label asp-for="Surname"></label><br/>
           <input type="text" class="form-control" asp-for="Surname"/>
           <span asp-validation-for="Surname"/>
        </p>
        <p>
           <label asp-for="Name"></label><br/>
           <input type="text" class="form-control" asp-for="Name"/>
           <span asp-validation-for="Name"/>
        </p>
        <p>
           <label asp-for="Patronymic"></label><br/>
           <input type="text" class="form-control" asp-for="Patronymic"/>
           <span asp-validation-for="Patronymic"/>
        </p>
        <p>
          <label asp-for="Position.Id"></label><br/>
           <select name="position" class="form-control">
               @foreach(var item in Model.Positions)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
           <span asp-validation-for="Position"/>
        </p>
        <p>
            <input type="submit" value="Зарегистрировать преподавателя" class="btn btn-outline-dark" />
        </p>
    </form>

}
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
